body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#garden {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
#canvas {
    border: 1px solid black;
    margin-right: 20px;
}*/

#canvas {
    display: block;
    margin: 0 auto;
}

/* .description {
    width: 300px;
} */
